---
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import poppins400 from "@fontsource/poppins/files/poppins-latin-400-normal.woff2";
import poppins600 from "@fontsource/poppins/files/poppins-latin-600-normal.woff2";
import poppins700 from "@fontsource/poppins/files/poppins-latin-700-normal.woff2";
// import "@splidejs/splide/css";
import "@splidejs/svelte-splide/css";
import { Image } from "astro:assets";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta
			name="description"
			content="Encuentra el mejor lugar para vivir | Una pagina hecha con fines educativos"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link
			rel="preload"
			as="image"
			href="/principal-image.avif"
			type="image/avif"
		/>

		<link
			rel="preload"
			href={poppins400}
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href={poppins600}
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href={poppins700}
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<meta name="generator" content={Astro.generator} />
	</head>

	<body>
		<header
			class="singulart-header sticky top-0 border-b border-b-white bg-primary z-40"
		>
			<div class="container flex justify-between py-5">
				<a href="#">
					<Image
						src="/logo-singulart.avif"
						alt="Singulart"
						width={193}
						height={54}
					/>
				</a>

				<nav class="hidden lg:block navigation">
					<ul class="flex items-center justify-end gap-6">
						<li class="active">
							<a href="#" class="button button-secondary contact-link">
								Inicio
							</a>
						</li>
						<li class="active">
							<a href="#" class="button button-secondary contact-link">
								Video
							</a>
						</li>
						<li class="active">
							<a href="#" class="button button-secondary contact-link">
								Ubicación
							</a>
						</li>
						<li class="active">
							<a href="#" class="button button-secondary contact-link">
								Fotografía
							</a>
						</li>

						<li class="flex gap-2 items-center">
							<a
								href="#"
								target="_blank"
								aria-label="Facebook"
								class="bg-white w-10 h-10 flex items-center justify-center text-primary text-xl hover:shadow-xl rounded-full ease-in-out duration-300"
							>
								<i class="icon-[vaadin--facebook]"></i>
							</a>
							<a
								href="#"
								target="_blank"
								aria-label="Instagram"
								class="bg-white w-10 h-10 flex items-center justify-center text-primary text-xl hover:shadow-xl rounded-full ease-in-out duration-300"
							>
								<i class="icon-[bi--instagram]"></i>
							</a>
							<a
								href="#"
								target="_blank"
								aria-label="Youtube"
								class="bg-white w-10 h-10 flex items-center justify-center text-primary text-xl hover:shadow-xl rounded-full ease-in-out duration-300"
							>
								<i class="icon-[bi--youtube]"></i>
							</a>
							<a
								href="https://github.com/oswaldohuillca/singulart-apartments"
								target="_blank"
								aria-label="Github"
								class="bg-white w-10 h-10 flex items-center justify-center text-primary text-2xl hover:shadow-xl rounded-full ease-in-out duration-300"
							>
								<i class="icon-[ri--github-fill]"></i>
							</a>
						</li>
					</ul>
				</nav>

				<button
					class="hidden mobile-menu-button lg:hidden"
					aria-label="mobile menu"
				>
					<svg
						width="25"
						height="23"
						viewBox="0 0 25 23"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M0.421875 1.8444C0.421875 1.5232 0.549473 1.21515 0.776598 0.988024C1.00372 0.760898 1.31177 0.633301 1.63298 0.633301H23.4328C23.754 0.633301 24.062 0.760898 24.2892 0.988024C24.5163 1.21515 24.6439 1.5232 24.6439 1.8444C24.6439 2.1656 24.5163 2.47365 24.2892 2.70078C24.062 2.9279 23.754 3.0555 23.4328 3.0555H1.63298C1.31177 3.0555 1.00372 2.9279 0.776598 2.70078C0.549473 2.47365 0.421875 2.1656 0.421875 1.8444V1.8444ZM1.63298 12.7443H23.4328C23.754 12.7443 24.062 12.6167 24.2892 12.3896C24.5163 12.1625 24.6439 11.8544 24.6439 11.5332C24.6439 11.212 24.5163 10.904 24.2892 10.6768C24.062 10.4497 23.754 10.3221 23.4328 10.3221H1.63298C1.31177 10.3221 1.00372 10.4497 0.776598 10.6768C0.549473 10.904 0.421875 11.212 0.421875 11.5332C0.421875 11.8544 0.549473 12.1625 0.776598 12.3896C1.00372 12.6167 1.31177 12.7443 1.63298 12.7443V12.7443ZM1.63298 22.4331H23.4328C23.754 22.4331 24.062 22.3055 24.2892 22.0784C24.5163 21.8513 24.6439 21.5432 24.6439 21.222C24.6439 20.9008 24.5163 20.5928 24.2892 20.3656C24.062 20.1385 23.754 20.0109 23.4328 20.0109H1.63298C1.31177 20.0109 1.00372 20.1385 0.776598 20.3656C0.549473 20.5928 0.421875 20.9008 0.421875 21.222C0.421875 21.5432 0.549473 21.8513 0.776598 22.0784C1.00372 22.3055 1.31177 22.4331 1.63298 22.4331V22.4331Z"
							fill="white"></path>
					</svg>
				</button>
			</div>
		</header>

		<slot />

		<footer class="bg-secondary text-white py-4">
			<main class="container">
				<ul class="flex flex-col md:flex-row gap-4 items-center">
					<!-- <li>Derechos reservados © 2024</li> -->
					<li class="flex item-center gap-2">
						<a
							href="#"
							target="_blank"
							aria-label="Facebook"
							class="bg-white w-10 h-10 flex items-center justify-center text-primary text-xl hover:shadow-xl rounded-full ease-in-out duration-300"
						>
							<i class="icon-[vaadin--facebook]"></i>
						</a>
						<a
							href="#"
							target="_blank"
							aria-label="Instagram"
							class="bg-white w-10 h-10 flex items-center justify-center text-primary text-xl hover:shadow-xl rounded-full ease-in-out duration-300"
						>
							<i class="icon-[bi--instagram]"></i>
						</a>
						<a
							href="#"
							target="_blank"
							aria-label="Youtube"
							class="bg-white w-10 h-10 flex items-center justify-center text-primary text-xl hover:shadow-xl rounded-full ease-in-out duration-300"
						>
							<i class="icon-[bi--youtube]"></i>
						</a>
						<a
							href="https://github.com/oswaldohuillca/singulart-apartments"
							target="_blank"
							aria-label="Github"
							class="bg-white w-10 h-10 flex items-center justify-center text-primary text-2xl hover:shadow-xl rounded-full ease-in-out duration-300"
						>
							<i class="icon-[ri--github-fill]"></i>
						</a>
					</li>
					<li>
						<a href="#" class="font-semibold"> Legal promociones</a>
					</li>
				</ul>
			</main>
		</footer>

		<span
			class="fixed bottom-6 right-5 text-base md:text-5xl text-white font-bold bg-secondary/20 backdrop-blur-3xl p-4 rounded-2xl z-[100] uppercase pointer-events-none"
			>unofficial</span
		>
	</body>
</html>

<style is:global>
	* {
		font-family: "Poppins";
	}

	@keyframes add-blur {
		to {
			@apply backdrop-blur-sm bg-primary/90;
		}
	}

	header {
		animation: add-blur linear both;
		animation-timeline: scroll();
		animation-range: 0 500px;
	}
</style>
